body {
  background-image: url(https://images2.alphacoders.com/132/1329016.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
#Straipsnis {
  background-color: rgb(28, 41, 81, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  padding-bottom: 30px;
  align-items: center;
  text-align: center;
}
