<%- include('../layout/top') %>
<%- include('../layout/navbar') %>
<div
  class="container h-100 d-flex flex-column justify-content-center align-items-center my-5 text-white"
>
  <h1>Create <span class="text-warning">Species</span></h1>

  <%- include('../layout/message') %>

  <form class="w-75" action="/pets/species" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input name="Name" type="text" class="form-control" id="Name" />
    </div>
    <button type="submit" class="btn salad-button">Submit</button>
  </form>
</div>
<%- include('../layout/bottom') %>
