body{
    background-image: url(https://wallpapercosmos.com/w/middle-retina/8/7/7/194290-3840x2160-desktop-4k-outer-space-wallpaper-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}