body{
    background-image: url(https://wallpaperaccess.com/full/39608.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
#Straipsnis{
    background-color: rgb(46,27,73,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    padding: 50px;
    align-items: center;
    text-align: center;
}