<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (messages) { %> 
      <% for (let message of messages) { %>
        <div class="alert alert-warning" role="alert">
          <%= message %></div>
        </div>
      <% } %> 
    <% } %>
    <form action="/pets" method="post">
      <div>
        <input type="number" name="species_ID" id="species#" />
        <label for="species#">Species#</label>
      </div>
      <div>
        <input type="text" name="name" id="Name" />
        <label for="Name">Name</label>
      </div>
      <div>
        <input type="text" name="foto" id="Foto" />
        <label for="Foto">Foto</label>
      </div>
      <div>
        <input type="text" name="email" id="Email" />
        <label for="Email">Email</label>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
