<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pets create</title>
  </head>
  <body>
    <form action="/pets" method="post">
      <div>
    <input type="number" id="Species#" name="species_ID" />
    <label for="Species#"></label>
  </div>
  <div>
    <input type="text" id="Name" name="name" />
    <label for="Name"></label>
  </div>
  <div>
    <input type="text" id="Foto" name="foto" />
    <label for="Foto"></label>
  </div>
  <div>
    <input type="email" id="Email" name="email" />
    <label for="Email"></label>
  </div>
  <button type="submit">Submit</button>
    </form>
  </body>
</html>
