<%- include('../layout/top') %>
<%- include("../layout/navbar")%>
<div
  class="container h-100 d-flex flex-column justify-content-center align-items-center my-5 text-white"
>
  <h1>Create <span class="text-warning">Pet</span></h1>

  <%- include("../layout/message") %>

  <form class="w-75" action="/pets" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="species#" class="form-label">Choose species:</label>

      <select name="species_ID" id="species" class="form-control">
        <option value="">--Please choose an option--</option>
        <option value="1">Dog</option>
        <option value="2">Cat</option>
        <option value="3">Parrot</option>
        <option value="4">Hamster</option>
        <option value="5">Turtle</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input name="name" type="text" class="form-control" id="Name" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="Email">Email</label>
      <input name="email" type="text" class="form-control" id="Email" />
    </div>
    <div class="mb-3 w-50">
      <label class="form-label" for="Foto">Foto</label>
      <input name="foto" type="file" class="form-control" id="Foto" />
    </div>
    <button type="submit" class="btn aqua-button text-white">Submit</button>
  </form>
</div>
<%- include('../layout/bottom') %>
